.cart {
  padding: 1rem;
  border-radius: 0.9375rem;
  background-color: #fcf9f1;
}

.cart__header {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.44rem;
}

.cart__header a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__product {
  border-bottom: 1px solid hsla(87, 4%, 49%, 0.4);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 4rem;
}

.empty-cart > * + * {
  margin-top: 0.5rem;
}

.empty-cart__btn {
  text-decoration: none;
  display: block;
  max-width: fit-content;
  line-height: normal;
  padding: 0.5rem 1.25rem;
  border-radius: 3rem;
  border: 1px solid rgba(28, 28, 28, 0.38);
  color: #fff;
  background-color: #dfae72;
}

.cart__summary--mobile:has(> .checkout-button) {
  display: flex;
  justify-content: center;
}

.checkout-button {
  display: block;
  max-width: fit-content;
  text-decoration: none;
  font-size: 1.125rem;
  padding: 0.5rem 1.4375rem;
  border-radius: 3rem;
  border: 1px solid rgba(28, 28, 28, 0.38);
  margin-bottom: 2rem;
  color: #fff;
  background-color: #dfae72;
}

.cart__summary--mobile {
  padding-block: 1.38rem;
  text-align: center;
}

.cart__summary--mobile > div {
  text-align: right;
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.homepage-link {
  color: #ff7810;
  text-decoration: none;
  font-size: 1rem;
}

.cart__summary--desktop {
  display: none;
  position: relative;
}

.cart__summary--desktop > div:first-child {
  border-radius: 0.9375rem;
  margin-top: 1.69rem;
  padding: 3rem;
  padding-right: 7.62rem;
  background-color: #fcf9f1;
}

.cart__summary--desktop h2 {
  font-size: 2.375rem;
  margin-bottom: 2.38rem;
  font-weight: 500;
  letter-spacing: -0.025em;
}

.cart__summary-grids {
  padding-left: 3.31rem;
}

.cart__summary-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.06rem;
}

.cart__summary-grid:nth-child(1) {
  margin-bottom: 2.56rem;
}

.cart__summary-grid > :nth-child(2) {
  text-align: center;
}

.cart__summary-grid > :nth-child(3) {
  text-align: right;
}

.cart__summary-grid h3,
.cart__summary-grid p {
  font-size: 1.375rem;
}

.cart__summary-grid h3 {
  font-weight: 500;
}

.cart__summary-prices > * + * {
  margin-top: 2rem;
}

.cart__summary-prices {
  text-align: right;
  font-size: 1.5625rem;
  margin-top: 3.88rem;
}

div:has(> .checkout-button) {
  display: flex;
  justify-content: end;
}

.cart__summary--desktop .checkout-button {
  font-size: 1.75rem;
  padding: 1rem 2.625rem;
}

.cart__summary--desktop div:has(> .homepage-link) {
  display: flex;
  justify-content: end;
  font-size: 1.5625rem;
  margin-top: 3.5rem;
}

@media (min-width: 45rem) {
  .cart__header {
    font-size: 1.625rem;
  }
}

@media (min-width: 65rem) {
  main > .wrapper {
    padding-inline: 4rem;
  }

  .cart__header {
    font-size: 2.375rem;
    padding-left: 3.25rem;
  }

  .cart__header > a {
    display: none;
  }

  .cart__product:last-child {
    border-bottom: 0;
  }

  .cart__summary--mobile {
    display: none;
  }

  .cart__summary--desktop {
    display: block;
  }

  .empty-cart {
    font-size: 1.5625rem;
  }
}
