.products h1 {
  font-size: 1.875rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.products__categories {
  font-size: 0.875rem;
  margin-inline: auto;
  border-bottom: 0.375rem solid #1c1c1c;
  padding-bottom: 1.19rem;
  margin-bottom: 2.44rem;
  max-width: 18.125rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.products__categories button {
  position: relative;
  border: none;
  background: none;
}

.products__categories button.active::after {
  content: '';
  position: absolute;
  display: block;
  width: 2.125rem;
  height: 0.375rem;
  top: 2.1rem;
  background-color: #ffae34;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem 0.5rem;
}

.product {
  background-color: white;
  max-width: 10rem;
  padding: 0.62rem;
  border-radius: 0.75rem;
  box-shadow: 0px 8px 16px 0px rgba(40, 40, 40, 0.25);

  justify-self: center;
}

.product__img {
  max-width: 8rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.product > .flex:has(> .product__like-btn) {
  justify-content: space-between;
}

.product__like-btn {
  border: 0;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product__like-btn:hover svg path,
.product__like-btn:focus svg path {
  fill: #f0ba6f;
}

.product__price {
  font-size: 0.75rem;
  color: rgba(28, 28, 28, 0.72);
}

.product__btn {
  font-size: 0.75rem;
  padding: 0.5rem 0.7rem;
  border-radius: 3rem;
  border: 1px solid #1c1c1c;
  background-color: #f1ca92;
  color: #000;
}

.product__btn:hover,
.product__btn:focus {
  background-color: #f0ba6f;
}

.pagination {
  display: flex;
  gap: 0.5rem;

  margin-top: 4.44rem;
  margin-inline: auto;
  max-width: fit-content;
}

.pagination button {
  width: 2rem;
  height: 1rem;
  border: 0.5px solid #53524e;
  padding: 1rem 0.25rem;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 25em) {
  .product {
    min-width: 12.25rem;
    max-width: 100%;
    width: 100%;
  }

  .product__img {
    min-width: 11rem;
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 45em) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .pagination button {
    width: 3.06363rem;
    height: 1.91475rem;
    border: 0.5px solid #53524e;
    padding: 0.37rem 0.95rem;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 65em) {
  .products h1 {
    font-size: 4.125rem;
    margin-bottom: 5.44rem;
  }

  .products__categories {
    font-size: 2.5rem;
    max-width: 60rem;
    margin-bottom: 4.75rem;

    gap: 6.69rem;
  }

  .products__categories button.active::after {
    width: 7.27688rem;
    height: 0.375rem;
    top: 3.95rem;
  }

  .products__list {
    gap: 4.69rem;
  }

  .products__list p {
    font-size: 1.5rem;
  }

  p.product__price {
    font-size: 1.125rem;
  }

  .product__btn {
    font-size: 1.125rem;
  }

  .product__img {
    aspect-ratio: 0.76;
    margin-bottom: 0.5rem;
  }

  .pagination {
    margin-block: 9.94rem 10.57rem;
  }

  .pagination button {
    width: 6.5rem;
    height: 3.5rem;
  }
}
